AKASH_API_KEY=
AKASH_BASE_URL=https://api.akashml.com/v1
AKASH_MODEL=meta-llama/Llama-3.3-70B-Instruct
AKASH_TIMEOUT_SECONDS=30
NEXLA_API_HOST=https://api.nexla.io
NEXLA_SESSION_TOKEN=
NEXLA_NEXSET_ID=435637
NEXLA_TIMEOUT_SECONDS=20
